<html>
<head>
  <title>tersesat kalian</title>
  <style>

    
    .btn-login{
      margin-top: 10px;
    }
    .btn-login a {
      background: #05d231;
      padding: 5px 8px;
      border-radius: 8px;
      text-decoration: none;                  
      color: #fff;
      margin-top: 10px;
    }
    .btn-login a:hover{
      background: #fff;
      color: #05d231;
    }
  </style>

</head>
<body bgcolor="black"></body>
<body>
    
  <p style="text-align:center"><font size="4"><font color="green">(kenapa anda bisa masuk ke sini)</font><br></font><br><br></p>

  <p style="text-align:center"><font size="4"><font color="green"><font size="6">(mungkin kau istimewa)</font><br></font><br></font><br><br></p>

  <font size="5"><font color="green">dan dirimu adalah orang yg paling saya perhatikan<p>maka dari itu jika kamu berkenan maukah kamu menerima cinta ku<p>jika kau menereima tekan:terima jka tidak tekan: tidak</p></font><br></font><br>
  
   
   <div class="btn-login">
    <a href="www.html" class="btn btn-default btn-block" ng-click="login()">terima:)</a>
  </div>

   <div class="btn-login">
     <a href="koclok.html" class="btn btn-default btn-block" ng-click="login()">tidak:v</a>
  </div>

   <div class="setelah">

   </div>
  </div>
</body>


  
 
   
</body>
</html>